@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&family=Gotham:wght@300;400;500;600;700&display=swap");

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  color: #1b281a;
}

.main-container {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}
